# Gauche package generated.
/Gauche-rfc-stringprep.gpd
/Makefile
/VERSION

# Files generated after compiled.
*.o
*.so

# Files generated every build.
*.log

# Files generated configured
stringprep_deps.h
